<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../prefiles/header");%>
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include("../prefiles/nav");%>
        <h2>heyyy there</h2>
</body>

</html>